body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.main {
    margin-top: 60px;
}

/* ====================================================
    TOP IMAGE AND TEXT
===================================================== */

.container {
    position: relative;
    width: 50%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle{
    opacity: 1;
}

.text {
    background-color: rgb(156, 0, 83);
    color: #fff;
    font-size: 16px;
    padding: 16px 32px;
}

/* ====================================================
    NAVIGATION BAR
===================================================== */
.navbar {
    overflow: hidden;
    background-color: rgb(156, 0, 83);
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: rgb(250, 227, 239);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: rgb(250, 227, 239);
    color: rgb(156, 0, 83);
}
/* ====================================================
    TEXT OVER VIDEO
===================================================== */

.video-container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered h2 {
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

/* ====================================================
    2 COLUMNS
===================================================== */
.column {
    float: left;
    width: 48%;
    height: 300px;
    padding: 0px 10px;
    background-color: antiquewhite;
}

.column p {
    color:rgb(156, 0, 83)
}

.column p:hover {
    color:rgb(0, 156, 39)
}

.row:after {
    content: "";
    display: table;
    clear: both;
}